extends layout

block content
  
  .card-deck.border-bottom
    .card.border-info.mb-3.text-center
      .card-header.bg-transparent.border-info 
        h2 HOTELS
      .card-body.text-info
        h1.card-title 50
        i.card-text.fas.fa-hotel.fa-7x

    .card.border-success.mb-3.text-center
      .card-header.bg-transparent.border-success 
        h2 ORDERS
      .card-body.text-success
        h1.card-title 555
        i.card-text.fas.fa-truck.fa-7x

    .card.border-warning.mb-3.text-center
      .card-header.bg-transparent.border-warning 
        h2 PRODUCTS
      .card-body.text-warning
        h1.card-title 200
        i.card-text.fas.fa-concierge-bell.fa-7x

  div
    br
    h3 Hotels
    table.table.table-striped
      thead
        tr
          th(scope="col") #
          th(scope="col") First
          th(scope="col") Last
          th(scope="col") Handle
      tbody
        tr
          th(scope="row") 1
          td Mark
          td Otto
          td @mdo
        tr
          th(scope="row") 1
          td Mark
          td Otto
          td @mdo
        tr
          th(scope="row") 1
          td Mark
          td Otto
          td @mdo
