extends layout

block content
  div.border-bottom.clearfix
    h2.float-left(style="display:inline;") Place Poa
    p.float-right
      span.badge.badge-danger(style="font-size:100%") UNPAID

  .row.clearfix(style="margin-top:20px;")
      .col-md-2
          h3.border-bottom Details:
      .col-md-10
        .row(style="margin-top: 15px;")
          .col-md-4
              h6(style="display:inline;") Email:
              span.text-primary placepoa@gmail.com
          .col-md-4
              h6(style="display:inline;") Phone NO:
              span.text-primary +254706352266
          .col-md-4
              h6(style="display:inline;") Location:
              span.text-primary Voi town
        .row(style="margin-top: 15px;")
          .col-md-4
              h6(style="display:inline;") Owner:
              span.text-primary Mama Jane Ndolo
          .col-md-4
              h6(style="display:inline;") Mpesa Paybill:
              span.text-primary 783490

  div(style="padding: 10px 5px; margin-top:60px;")
    ul.nav.nav-tabs(id="myTab" role="tablist")
      li.nav-item
        a.nav-link.active(id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="true")
          i.fas.fa-list
          | ITEMS
      li.nav-item
        a.nav-link(id="staff-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="staff" aria-selected="false")
          i.fas.fa-user
          | STAFF
      li.nav-item
        a.nav-link(id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="false")
          i.fas.fa-credit-card
          | PAYMENT
      li.nav-item
        a.nav-link(id="manage-tab" data-toggle="tab" href="#manage" role="tab" aria-controls="manage" aria-selected="false")
          i.fas.fa-cog
          | MANAGE

    div.tab-content(id="myTabContent")
      div.tab-pane.fade.show.active(id="items" role="tabpanel" aria-labelledby="items-tab") Items
      div.tab-pane.fade(id="staff" role="tabpanel" aria-labelledby="staff-tab") Profile
      div.tab-pane.fade(id="payments" role="tabpanel" aria-labelledby="payments-tab") Payments
      div.tab-pane.fade(id="manage" role="tabpanel" aria-labelledby="manage-tab") Manage
